@font-face {
  font-family: adelia;
  src: url(fonts/adelia.ttf); }

@font-face {
  font-family: caviarDreams;
  src: url(fonts/CaviarDreams.ttf); }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

/*---INDEX---*/
.padreIndex {
  display: grid;
  grid-template-areas: "encabezado encabezado encabezado" ". video ." "cards cards cards" "quienesSomos quienesSomos quienesSomos" "pie pie pie"; }

/* ____HEADERV____ */
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px; }

.textoNav {
  font-family: caviarDreams; }

.imgLogo {
  width: 100px;
  height: 80px; }

/*---MAIN---*/
.card2 {
  border: 10px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 30px;
  justify-items: center; }

.cardTexto2 {
  font-family: caviarDreams;
  text-align: center;
  width: 100%; }

.cardImg {
  margin-top: 10px;
  border-radius: 15px; }

.card-header {
  background-color: rgba(190, 157, 138, 0.7); }

.text-center {
  border: 0.3px solid black; }

h1 {
  font-family: caviarDreams;
  text-align: center; }

.cardBoton {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  padding: 5px;
  display: inline-block;
  margin: 10px; }

a {
  text-decoration: none; }

p {
  font-family: caviarDreams;
  text-align: center;
  margin: 10px;
  padding: 15px;
  grid-area: quienesSomos; }

form {
  margin: 15px; }

h2 {
  margin: 15px; }

table {
  margin: 15px; }

/*---FRAGANCIAS---*/
.fragancias {
  grid-area: aromas;
  display: grid;
  grid-template-areas: "frag1 frag2 frag3 frag4" "frag5 frag6 frag7 frag8" ". frag9 frag10 ."; }

.productosSeccion {
  font-family: caviarDreams;
  font-size: 30px;
  margin-top: 60px;
  text-align: left;
  width: 100%; }

a:hover {
  background-color: lightgray;
  border-radius: 20px; }

/* ANIMACION */
.animacion {
  transition: transform 1s, width 2s; }

.animacion:hover {
  transform: scale(1.3); }

/* MAP */
.fondo-header {
  background-color: rgba(190, 157, 138, 0.7); }

.fondo-footer {
  background-color: #726D6F; }

.fondo-card {
  background-color: #B57EDC; }

/*EXTEND*/
.texto, .texto--card {
  font-family: caviarDreams;
  font-size: 15px;
  color: black;
  text-align: center;
  text-decoration: none; }

.texto--card {
  font-size: 20px;
  font-family: adelia; }

/*MIXIN*/
.div1 {
  flex-direction: row;
  justify-content: center; }
