@font-face {
    font-family: adelia;
    src: url(fonts/adelia.ttf);
}

@font-face {
    font-family:caviarDreams ;
    src: url(fonts/CaviarDreams.ttf);
}


/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */


/*---INDEX---*/

.padreIndex{
    display: grid;
    grid-template-areas: 
        "encabezado encabezado encabezado"
        ". video ."
        "cards cards cards"
        "quienesSomos quienesSomos quienesSomos"
        "pie pie pie";
}



/* ____HEADERV____ */

header{
    border: 1px solid #F1DACF ;
    border-radius: 15px;
    margin: 15px;
    padding: 15px;
    background-color: #F1DACF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    grid-area:encabezado;
}
.logo{
    display: flex;
    flex-direction: column;
}
header h1{
    font-family: adelia;
    font-size: 70px;
    color: black;
    margin: 25px;
}
header h4{
    font-family: caviarDreams;
    color: black;
    margin: 1px; 
}

.logo{
    height: 130px;
    width: 130px;
}

.nav{
    width: 100%;
    margin: 10px;
}

nav ul li{
    font-family: caviarDreams;
    color: black;
}

.menu{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/*---MAIN---*/

iframe{
    padding: 10px;
    margin: 15px;
    grid-area: video;
    align-items: center;
    height: 500px;
}

    

.cardBoton{
    padding: center;
}



.card2{
    border: 10px solid white;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly ;
    background-color:rgba(190, 157, 138, 0.7);
    border-radius: 30px;
}
.cardTexto2{
    font-family: caviarDreams
}
.cardImg{
    margin-top: 10px;
    border-radius: 15px;
}

.card-header{
    background-color:rgba(190, 157, 138, 0.7);
}

.text-center{
    border: 0.3px solid black;
    border-radius: 15px;
    margin: 10px;
}



.cardBoton{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    padding: 5px;
    display:inline-block;
    margin: 10px;
    
}


a{
    text-decoration: none;
}

p{
    font-family: caviarDreams;
    text-align: center;
    margin: 10px;
    padding: 15px;
    grid-area: quienesSomos;
}

form{
    margin: 15px;
}

h2{
    margin: 15px;
}

table{
    margin: 15px;
}

footer{
    background-color: #726D6F;
    text-decoration: none;
    border-radius: 15px;
    margin-top: 10px;
    margin: 15px;
    
}
.pie{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
footer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}
footer ul li {
    text-decoration: none;
    font-family: caviarDreams;
}


/*---FRAGANCIAS---*/



.fragancias{
    grid-area: aromas;
    display: grid;
    grid-template-areas:
        "frag1 frag2 frag3 frag4"
        "frag5 frag6 frag7 frag8"
        ". frag9 frag10 .";
} 


a{
    color: black;
}


/* @media(max-width:320px){
    .padreIndex{
        grid-template-areas: 
            "encabezado "
            "video"
            "cards"
            "cards"
            "cards"
            "quienesSomos "
            "pie";
    }
    .fragancias{
        grid-area: aromas;
        display: grid;
        grid-template-areas:
            "frag1 frag2 "
            "frag3 frag4"
            "frag5 frag6 "
            "frag7 frag8"
            "frag9 frag10";
    } 
    
    .card{
        flex-wrap: wrap;
    }
    nav ul {
        flex-wrap: wrap;
    }
    footer ul {
        flex-wrap: wrap;
    }      
}   */

/* ANIMACION */
.animacion{
    transition: transform 2s, width 2s;  
}

.animacion:hover{ 
    transform: scale(1);
}